ol#toc {
    height: 1.5em;
    list-style: none;
    margin: 0;
    padding: 0;
}

ol#toc li {
    float: left;
    margin: 0 1px 0 0;
}

ol#toc a {
    background: #bdf url(../images2/gif/tab.png);
    color: #008;
    display: block;
    float: left;
	font: bold 12px verdana;
    height: 2em;
    padding-left: 10px;
    text-decoration: none;
}

ol#toc a:hover {
    background-color: #3af;
    background-position: 0 -120px;
}

ol#toc a:hover span {
    background-position: 100% -120px;
}

ol#toc li.current a {
    background-color: #48f;
    background-position: 0 -60px;
    color: #fff;
    font-weight: bold;
}

ol#toc li.current span {
    background-position: 100% -60px;
}

ol#toc span {
    background: url(../images2/gif/tab.png) 100% 0;
    display: block;
    line-height: 2em;
    padding-right: 10px;
}

div.content {
    
}