/*-----------------------------------Corporate Home Page CSS -------------------------------------------*/
body
{
margin:0 0 0 0;
background-color:#FFFFFF;
}

.bggrey
{background-color:#BDBEBF;}

.bgblue	
{background-color:#1F6FB7;}



.toplink:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#5D5D5D;
text-decoration:underline;
}

.toplink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#000033;
text-decoration:underline;
}

.toplink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#C80000;
text-decoration:none;
}

.toplink:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#336699;
text-decoration:none;
}

.div1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#5D5D5D;
text-decoration:none;
}

.mainlink:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.mainlink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#000033;
text-decoration:none;
}

.mainlink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#C80000;
text-decoration:underline;
}

.mainlink:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#336699;
text-decoration:none;
}

.div2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#000000;
text-decoration:none;
}

.fldbox
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#000000;
text-decoration:none;
border-bottom:1px solid #BDBEBF;
border-left:1px solid #BDBEBF;
border-right:1px solid #BDBEBF;
border-top:1px solid #BDBEBF;
}

.btnstl
{
font-family:Verdana, Arial, Helvetica, sans-serif;
color:#666666;
font-size:10px;
background-color:#FFFFFF;
border-bottom:1 solid #666666;
border-left:1 solid #666666;
border-right:1 solid #666666;
border-top:1 solid #666666;
font-weight:normal;
height:20px;
}

.srchtxt
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#8B8A8A;
text-decoration:none;
}

.hlist
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#8B8A8A;
text-decoration:none;
list-style-type:none;
margin-left:20px;
}

.hlist2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#8B8A8A;
text-decoration:none;
list-style-type:none;
margin-left:-30px;
}


.list
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.7em;
font-weight:normal;
color:#5D5D5D;
text-decoration:none;
list-style-image:url(../images/sqrbult_blue.gif);
margin-left:-20px;	
line-height:20px;
}

.lilink:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#5D5D5D;
text-decoration:underline;
}

.lilink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#000033;
text-decoration:underline;
}

.lilink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#C80000;
text-decoration:none;
}

.lilink:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#336699;
text-decoration:underline;
}

.txtbold
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#5D5D5D;
text-decoration:none;
}
.botlink:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#5D5D5D;
text-decoration:none;
}

.botlink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#000033;
text-decoration:none;
}

.botlink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#C80000;
text-decoration:none;
}

.botlink:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#336699;
text-decoration:none;
}

.headng1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#FFF;
text-decoration:none;
height:2px;
padding-top:4px;
padding-bottom:4px;
}

.headng2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#1F6FB7;
text-decoration:none;
padding-top:5px;
}

.headng2sub
{
color:#5D5D5D;
font-style:italic;
padding-top:5px;
}

.sublink:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#656565;
text-decoration:none;
}

.sublink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#656565;
text-decoration:none;
}

.sublink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#1F6FB7;
text-decoration:none;

}

.sublink:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#EC8322;
text-decoration:underline;
}
.txtlink1:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#656565;
text-decoration:underline;
}
.txtlink1:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#1F6FB7;
text-decoration:none;
}
.txtlink1:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#EC8322;
text-decoration:underline;
}
.txtlink1:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#656565;
text-decoration:underline;
}
.tblspace
{padding-left:10px;}

.txtlink2:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#656565;
text-decoration:underline;
}

.txtlink2:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#656565;
text-decoration:underline;
}

.txtlink2:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#1F6FB7;
text-decoration:none;
}

.txtlink2:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:normal;
color:#EC8322;
text-decoration:underline;
}

.txt
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.7em;
font-weight:normal;
color:#5D5D5D;
text-decoration:none;
}
.txtHyperlink
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.7em;
font-weight:normal;
text-decoration: underline;
color:#5D5D5D;
text-decoration:none;
}
.txt2
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.7em;
font-weight:normal;
color:#5D5D5D;
text-decoration:none;
padding-left:5px;
}

.txt3
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11pt;
font-weight:normal;
color:#5D5D5D;
text-decoration:none;
}

.txt4
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8pt;
font-weight:normal;
color:#2B4973;
text-decoration:none;
}
.txtR
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:8pt;
font-weight:normal;
color:red;
text-decoration:none;
}
.txt5
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10pt;
font-weight:normal;
color:white;
text-decoration:none;
}

.smalltxt
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:.55em;
font-weight:normal;
color:#5D5D5D;
text-decoration:none;
}

.tblbdr
{
border:1px solid #999999;
}

.tblbdr1
{
border:1px solid #7D9BC6;
}

.txthead
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#5D5D5D;
text-decoration:none;
padding-left:5px;
}

.headngblue
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#1F6FB7;
text-decoration:none;
vertical-align:middle;
padding-top:5px;
}
.headngblue1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
font-weight:bold;
color:#1F6FB7;
text-decoration:none;
vertical-align:top;
padding-top:5px;
}
.headngbig
{

font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:17px;
font-weight:bold;
color:#1F6FB7;
text-decoration:none;
vertical-align:super;
padding-top:5px;
height:2px;
}
.headngbig1
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:20pt;
color:#7D9BC6;
text-decoration:none;
}

.txtlink:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#5D5D5D;
text-decoration:underline;
}

.txtlink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#000033;
text-decoration:none;
}

.txtlink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#1F6FB7;
text-decoration:none;
}

.txtlink:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#EC8322;
text-decoration:none;
}
.txtbluelink:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#3A66A7;
text-decoration:underline;
}

.txtbluelink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#3A66A7;
text-decoration:none;
}

.txtbluelink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:normal;
color:#3A66A7;
text-decoration:underline;
}
.txtbluelinkbld:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#3A66A7;
text-decoration:underline;
}

.txtbluelinkbld:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#3A66A7;
text-decoration:underline;
}

.txtbluelinkbld:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#3A66A7;
text-decoration:none;
}
.txtbluelinkbld:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#3A66A7;
text-decoration:underline;
}
.txtbluelinkbig:link
{
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#3A66A7;
text-decoration:underline;
}

.txtbluelinkbig:visited
{
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#3A66A7;
text-decoration:none;
}

.txtbluelinkbig:hover
{
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#3A66A7;
text-decoration:underline;
}

.txtbluelinkbig:active
{
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#3A66A7;
text-decoration:none;
}
div#navbar2 
{
width:1003px;
text-decoration:none;
font-weight:normal;
font-size:10px;
text-align:center;
}

div#navbar2 ul {
margin: 0px;
padding: 0px;
font-family:Verdana, Arial, Helvetica, sans-serif; 
font-size:10px;
font-weight:normal;
color:#FFFFFF;
vertical-align:middle;
list-style-type:none;
display:inline;
}

div#navbar2 li 
{
list-style-type: none;
background:none;
display:inline;
margin:0px 0px 0px 0px;
padding:0px 0px 0px 5px;
}

div#navbar2 li a:link
{
font-weight:normal;
color:#FFFFFF;
text-decoration:none;
}

div#navbar2 li a:visited 
{
font-weight:normal;
color:#FFFFFF;
text-decoration:none;
}

div#navbar2 li a:hover {
font-weight:normal;
color:#FFFFFF;
text-decoration:underline;
}

div#navbar2 li a:active {
font-weight:normal;
color:#FFFFFF;
text-decoration:none;
}

.txtorange
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
font-weight:bold;
color:#EC8322;
text-decoration:none;
padding-left:5px;
}
.txtorangesmall
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
font-weight:bold;
color:#EC8322;
text-decoration:none;
padding-left:5px;
}
.txtorangebig
{
font-family:Arial;
font-size:15px;
color:#EC8322;
text-decoration:none;
}
.imgstyl
{
	position:static;
	vertical-align:top;
	float:right;
	
	left: 569px;
	top: 319px;
}

.sitemaplink:link
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#656565;
text-decoration:none;
}

.sitemaplink:visited
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#656565;
text-decoration:none;
}

.sitemaplink:hover
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#1F6FB7;
text-decoration:underline;

}

.sitemaplink:active
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
font-weight:bold;
color:#EC8322;
text-decoration:underline;
}

#navigation-bottom LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 0px;  PADDING-BOTTOM: 0px; MARGIN: 0px 3px 0px 0px; PADDING-TOP: 0px
}
#navigation-bottom LI A {
	COLOR: #999999; TEXT-DECORATION: none
}
#navigation-bottom LI A:hover {
	TEXT-DECORATION: underline
}
.footerpadding
{
padding-top:7px;
}
.mainlink:link
{
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#FFFFFF;
text-decoration:none;
}

.mainlink:visited
{
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#FFFFFF;
text-decoration:none;
}

.mainlink:hover
{
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#FFFFFF;
text-decoration:underline;
}

.mainlink:active
{
font-family:Arial;
font-size:12px;
font-weight:normal;
color:#FFFFFF;
text-decoration:none;
}

.mainlinkpadding
{
padding-bottom:6px;
padding-left:5px;
}
.tablink:link
{
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#7D9BC6;
text-decoration:none;
}

.tablink:visited
{
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#7D9BC6;
text-decoration:none;
}

.tablink:hover
{
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#7D9BC6;
text-decoration:underline;
}

.tablink:active
{
font-family:Arial;
font-size:12px;
font-weight:bold;
color:#7D9BC6;
text-decoration:none;
}

#primary-navigation {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-SIZE: 11px; font-family:Arial, Helvetica, sans-serif, Bitstream Vera Sans; Z-INDEX: 10; LEFT: 32px; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none; POSITION: absolute; TOP: 45px
}
#primary-navigation LI {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: url(../images/tpl/separator.gif) no-repeat 100% 6px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; POSITION: relative
}
#primary-navigation LI.last {
	BACKGROUND-IMAGE: none
}
#primary-navigation LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FLOAT: left; PADDING-BOTTOM: 0px; COLOR: #477ac3; LINE-HEIGHT: 16px; PADDING-TOP: 0px; WHITE-SPACE: nowrap; HEIGHT: 22px; TEXT-DECORATION: none
}
#primary-navigation LI A.active {
	COLOR: #f69401
}
#primary-navigation LI A SPAN {
	PADDING-RIGHT: 9px; DISPLAY: block; PADDING-LEFT: 5px; FLOAT: left; PADDING-BOTTOM: 0px; CURSOR: pointer; PADDING-TOP: 3px; HEIGHT: 19px
}
#primary-navigation LI A:hover {
	COLOR: #f69401
}
#primary-navigation LI.hover A {
	PADDING-LEFT: 4px; Z-INDEX: 10; BACKGROUND: url(../images/tpl/link-main-left.gif) no-repeat; MARGIN-LEFT: -1px; OVERFLOW: hidden; COLOR: #f69401; POSITION: relative; HEIGHT: 19px
}
#primary-navigation LI.hover A SPAN {
	BACKGROUND: url(../images/tpl/link-main-right.gif) no-repeat right top; CURSOR: pointer
}
#primary-navigation LI DIV {
	PADDING-RIGHT: 0px; DISPLAY: none; PADDING-LEFT: 0px; BACKGROUND: url(../images/tpl/dropdown-top.gif) no-repeat; LEFT: -1px; PADDING-BOTTOM: 0px; WIDTH: 168px; PADDING-TOP: 4px; POSITION: absolute; TOP: 18px
}
#primary-navigation UL {
	PADDING-RIGHT: 8px; PADDING-LEFT: 8px; BACKGROUND: url(../images/tpl/dropdown-bottom.gif) no-repeat left bottom; PADDING-BOTTOM: 4px; MARGIN: 0px; WIDTH: 152px; PADDING-TOP: 0px; LIST-STYLE-TYPE: none
}
#primary-navigation UL LI {
	PADDING-RIGHT: 0px; BORDER-TOP: #c9d6e8 1px solid; DISPLAY: block; PADDING-LEFT: 0px; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; PADDING-BOTTOM: 1px; MARGIN: 0px; WIDTH: 152px; PADDING-TOP: 1px
}
#primary-navigation UL LI:first-child {
	BORDER-TOP-STYLE: none
}
#primary-navigation LI.hover UL LI A {
	PADDING-RIGHT: 0px; DISPLAY: block; PADDING-LEFT: 0px; FONT-WEIGHT: normal; BACKGROUND: none transparent scroll repeat 0% 0%; FLOAT: none; PADDING-BOTTOM: 8px; MARGIN: 0px; WIDTH: 100%; COLOR: #477ac3; LINE-HEIGHT: 14px; PADDING-TOP: 8px; WHITE-SPACE: normal; HEIGHT: auto
}
#primary-navigation LI.hover UL LI A:hover {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/tpl/gradient.gif) repeat-y 50% top; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #477ac3; PADDING-TOP: 8px
}
#primary-navigation LI.hover UL LI:hover A {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(../images/tpl/gradient.gif) repeat-y 50% top; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #477ac3; PADDING-TOP: 8px
}
#primary-navigation LI.hover UL LI A.active {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; FONT-WEIGHT: bold; BACKGROUND: url(../images/tpl/gradient.gif) repeat-y 50% top; PADDING-BOTTOM: 8px; MARGIN: 0px; COLOR: #477ac3; PADDING-TOP: 8px
}
#primary-navigation LI.hover DIV {
	DISPLAY: block
}
#site-tools {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 11px;
	font-family:Arial, Helvetica, sans-serif, Bitstream Vera Sans;

	RIGHT: 10px;
	PADDING-BOTTOM: 0px;
	MARGIN: 0px;
	PADDING-TOP: 0px;
	LIST-STYLE-TYPE: none;
	POSITION: absolute;
	TOP: 53px;
	left: 746px;
	width: 194px;
}
#site-tools LI {
	PADDING-RIGHT: 0px; DISPLAY: inline; PADDING-LEFT: 7px;  PADDING-BOTTOM: 0px; MARGIN: 0px 2px 0px 0px; PADDING-TOP: 0px
}
#site-tools LI:first-child {
	PADDING-LEFT: 0px; BACKGROUND-IMAGE: none
}
#site-tools LI A {
	COLOR: #6699cc; TEXT-DECORATION: none
}
#site-tools LI A:hover {
	TEXT-DECORATION: underline
}

.odd {
    background: #FFFFFF;
}
.even {
    background: #E8F6F9;
}
